/.vs
/Model/obj
/Model/bin
/Repository/obj
/Repository/bin
/DataAccessLayer/bin
/Services/obj
/Services/bin
/WebApi/bin
/WebApi/obj
/WebApi.Tests/obj
/WebApi.Tests/bin
/Repository/obj/Debug/*.cache
/Services/obj/Debug/*.cache
/DataAccessLayer/obj/Debug/*.cache
/Model/obj/Debug/*.cache
/DataAccessLayer/obj/Debug/*.force
/Repository/obj/Debug/build.force
/Services/obj/Debug/build.force
/.vs/TestingOnlineSystem/v15/.suo
/.vs/TestingOnlineSystem/v15/Server/sqlite3/storage.ide
/.vs/TestingOnlineSystem/v15/Server/sqlite3/storage.ide-shm
/.vs/TestingOnlineSystem/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
