/.vs
/Model/obj
/Model/bin
/Repository/obj
/Repository/bin
/DataAccessLayer/bin
/Services/obj
/Services/bin
/WebApi/bin
/WebApi/obj
/WebApi.Tests/obj
/WebApi.Tests/bin
/Repository/obj/Debug/*.cache
/Services/obj/Debug/*.cache
